@using GeniusWebApp.Models
@model Group
@{
    ViewBag.Title = "Edit";

    ApplicationDbContext _db = new ApplicationDbContext();
    int groupId = ViewBag.groupId;
    Group group = _db.Groups.Where(grp => grp.GroupId == groupId).First();
}

<h2>Edit</h2>

<form action="/Group/Edit" method="post">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <input type="hidden" value="@ViewBag.groupId" name="GroupId"/>
    <label>Name:</label>
    <input type="text" name="name" value="@group.Name" />
    @Html.ValidationMessageFor(g => g.Name, "", new { @class = "text-danger" })
    <br />
    <label>Description:</label>
    <input type="text" name="description" value="@group.Description" />
    @Html.ValidationMessageFor(g => g.Description, "", new { @class = "text-danger" })
    <br />
    <button type="submit">Edit</button>
</form>