<link rel="stylesheet" href="~/Content/all.css">
<link rel="stylesheet" href="~/Content/all.min.css">
@using GeniusWebApp.Models
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool single = true;
    try
    {
        if (Model.Count > 0)
        {
            single = false;
        }

    }
    catch (Exception exc)
    {
        single = true;
    }
    string userId = User.Identity.GetUserId();
    ApplicationDbContext db = new ApplicationDbContext();

    List<string> administratorsIds = new List<string>();

    foreach(var ad in Model.Administrators)
    {
        string id = ad.UserId;
        administratorsIds.Add(id);
    }

}

@if (single)
{
    <div style="display: inline">

        <h1>Grupul @Model.Name</h1>
        @Html.ActionLink(
        linkText: "Ieși din grup",
        actionName: "LeaveGroup",
        controllerName: "UserProfile",
        routeValues: new { GroupId = Model.GroupId },
        htmlAttributes: new { @style = " color: red" }
        )

    </div>
    <h2>Descriere:</h2>
    <br />

    <p>@Model.Description</p>
    if (this.User.IsInRole("Admin") || administratorsIds.Contains(userId))
    { 
        <form action="/Group/Delete/@Model.GroupId" method="post">
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button type="submit">Delete group</button>
        </form>
    }
    <br />
    <h2>Postări</h2>
    <br />

    @Html.ActionLink(
            linkText: "Creează o postare",
            actionName: "CreateGroupPost",
            controllerName: "UserPost",
            routeValues: new { GroupId = Model.GroupId },
            htmlAttributes: new { @style = "background-color: red; color: white" }
            )
    if (Model.UserPosts.Count != 0)
    {
        <div class="list-group">
            @foreach (UserPost post in Model.UserPosts)
            {
                <div class="list-group-item" style="width: 50vw">
                    @*<p style="padding: 10px">@post.UserProfile.FirstName @post.UserProfile.LastName</p>*@
                    <p>@post.Title</p>
                    <br />
                    <p>@post.Content</p>
                </div>

                foreach(var comment in post.Comments)
                {
                    <p>@comment.FirstName @comment.LastName</p>
                    <p>@comment.Text</p>

                    if(this.User.IsInRole("Admin") || userId == comment.UserId)
                    {
                        <a href="/Comment/Edit/@comment.Id">Edit</a>

                        <form action="/Comment/Delete/@comment.Id" method="post">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button type="submit">Delete</button>
                        </form>
                    }
                }


                <a href="/Comment/New/@post.Id">New comment</a>
            }
        </div>
    }
    else
    {
        <p> Nu există nicio postare.</p>
    }
}

else
{
    <h1>Grupuri:</h1>
    foreach (var group in Model)
    {
        <div class="table-bordered" style="padding-left: 10px">
            <a href="Group/@group.Name.ToLower()">
                <h2>@group.Name</h2>
                <p>@group.Description</p>
            </a>
        </div>
        if (this.User.IsInRole("Admin"))
        {
            @Html.ActionLink(
            linkText: "Șterge",
            actionName: "Delete",
            controllerName: "Group",
            routeValues: new { GroupId = group.GroupId },
            htmlAttributes: new { @style = "background-color: red; color: white" }
            )
        }
        <br />

    }
}

