<link rel="stylesheet" href="~/Content/all.css">
<link rel="stylesheet" href="~/Content/all.min.css">
@using GeniusWebApp.Models
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool single = true;
    try
    {
        if (Model.Count > 0)
        {
            single = false;
        }

    }
    catch (Exception exc)
    {
        single = true;
    }
    string userId = User.Identity.GetUserId();
    ApplicationDbContext _db = new ApplicationDbContext();
    TempData.Clear();
    TempData["GroupId"] = Model.GroupId;
}

@if (single)
{
    <div style="display: inline">

        <h1>@Model.Name Group</h1>
        <div class="buttons">
            @Html.ActionLink(
            linkText: "Leave group",
            actionName: "LeaveGroup",
            controllerName: "UserProfile",
            routeValues: new { GroupId = Model.GroupId },
            htmlAttributes: new { @class = "btn btn-danger" }
            )

            @if (this.User.IsInRole("Admin") || Model.AdministratorId == userId)
            {
            <div class="buttons">
                <form action="/Group/Delete/@Model.GroupId" method="post">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button class="btn btn-warning" type="submit">Delete group</button>
                </form>
                <a class="btn btn-success" href="/Group/Edit/@Model.GroupId">Edit group</a>
            </div>
        
            }
        </div>
    </div>
    <h2>Description:</h2>
    <br />

    <p>@Model.Description</p>
    
    <br />
    <h2>Posts</h2>
    <br />

    @Html.ActionLink(
            linkText: "Create post",
            actionName: "CreateGroupPost",
            controllerName: "UserPost",
            routeValues: new { GroupId = Model.GroupId },
            htmlAttributes: new { @class = "btn btn-success" }
            )
    if (Model.UserPosts.Count != 0)
    {
        foreach (UserPost post in Model.UserPosts)
        {
            <div class="panel panel-default">

                <div class="panel-heading">
                    <div class="buttons">
                        <h3>@post.Title</h3>
                        @{
                            UserProfile profile = _db.UserProfiles.Find(post.UserProfileId);
                        }

                        @if (profile == null || this.User.IsInRole("Admin"))
                        {
                            if (this.User.IsInRole("Admin"))
                            {
                                <div class="buttons" style="float:right">
                                    <form action="/UserPost/Delete/@post.Id" method="post">
                                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                                        <button class="btn btn-danger" type="submit">Delete</button>
                                    </form>
                                    <a class="btn btn-primary" href="/UserPost/Edit/@post.Id">Edit</a>
                                </div>

                            }
                        }
                        else if (profile.UserId == userId)
                        {
                            <div class="buttons" style="float:right">
                                <form action="/UserPost/Delete/@post.Id" method="post">
                                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </form>
                                <a class="btn btn-primary" href="/UserPost/Edit/@post.Id">Edit</a>
                            </div>
                        }
                    </div>
                    <p>@post.FirstName @post.LastName</p>
                </div>

                <div class="panel-body">
                    <p>@post.Content</p>
                </div>

                <div class="panel-footer">
                    @foreach (var comment in post.Comments)
                    {
                        <div class="panel panel-default">

                            <div class="panel-heading buttons">
                                <h4>@comment.FirstName @comment.LastName</h4>
                                @if (this.User.IsInRole("Admin") || userId == comment.UserId)
                                {
                                    <div style="float:right">
                                        <a class="glyphicon glyphicon-edit" href="/Comment/Edit/@comment.Id"></a>

                                        <form action="/Comment/Delete/@comment.Id" method="post">
                                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                                            <button class="glyphicon glyphicon-trash" type="submit"></button>
                                        </form>
                                    </div>
                                }
                            </div>

                            <div class="panel-body">

                                <p>@comment.Text</p>

                                
                            </div>
                        </div>
                    }

                    <a class="btn btn-primary" style="background-color:aqua; color:purple" href="/Comment/New/@post.Id">New comment</a>
                </div>
                
            </div>
        }
    }
    else
    {
        <p> Nu există nicio postare.</p>
    }
}

else
{
    <h1>Grupuri:</h1>
    foreach (var group in Model)
    {
        <div class="table-bordered" style="padding-left: 10px">
            <a href="Group/@group.Name.ToLower()">
                <h2>@group.Name</h2>
                <p>@group.Description</p>
            </a>
        </div>
        if (this.User.IsInRole("Admin"))
        {
            @Html.ActionLink(
            linkText: "Șterge",
            actionName: "Delete",
            controllerName: "Group",
            routeValues: new { GroupId = group.GroupId },
            htmlAttributes: new { @style = "background-color: red; color: white" }
            )
        }
        <br />

    }
}

