@model GeniusWebApp.Models.Group
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create a group</h2>

@using (Html.BeginForm("NewGroup", "Home", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(group => group.Name)
        @Html.TextBoxFor(group => group.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(group => group.Name, "", new { @class = "text-danger" })
        <br />
    </div>
    <div class="form-group">
        @Html.LabelFor(group => group.Description)
        @Html.TextBoxFor(group => group.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(group => group.Description, "", new { @class = "text-danger" })
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Create</button>
}

