@model List<GeniusWebApp.Models.UserProfile>
@using Microsoft.AspNet.Identity;
@using GeniusWebApp.Models
@using Microsoft.AspNet.Identity.Owin;
@using Microsoft.Owin.Security;
@using System.Web.Security;
@using System.Web;
@{
    ViewBag.Title = "Show";
    ApplicationUserManager UserManager = HttpContext.Current.GetOwinContext().Get<ApplicationUserManager>();
    ApplicationDbContext _db = new ApplicationDbContext();
    var adminId = UserManager.FindByEmail("admin@gmail.com").Id;

    string currentUserId = User.Identity.GetUserId();

    UserProfile userProfile = _db.UserProfiles.Where(p => p.UserId == currentUserId).FirstOrDefault();

}
<head>
    <link href="~/Content/all.css" rel="stylesheet"> <!--load all styles -->
</head>
@if (Model.Count == 0)
{
    <p>No profile found</p>
}
else
{
    <div class="panel-title" style="margin-left: 5vw; margin-top: 10px">
        <p>Search results for "@ViewBag.firstName @ViewBag.lastName"</p>
    </div>
    <div class="panel panel-default">
        @foreach (var profile in Model)
        {
            <div class="panel-heading buttons" style="border-bottom: 3px solid red">
            @if (profile.UserId != currentUserId)
            {
                <a href="Show/@profile.GeniusUserProfileId"><h3>@profile.LastName @profile.FirstName</h3></a>
                <div style="float:right">
                    @if (currentUserId == adminId)
                    {
                        TempData["firstName"] = ViewBag.firstName;
                        TempData["lastName"] = ViewBag.lastName;
                        <form method="post" action="/AdminMessages/New">
                            <input type="text" name="message"/>
                            <input type="hidden" value="@profile.UserId" name="userId"/>
                            <button class="btn btn-success" type="submit">Send</button>
                        </form>
                    }
                    else
                    {
                        if (this.User.IsInRole("Admin") || this.User.IsInRole("LoggedUser"))
                        {

                            bool areFriends = false;
                            foreach (var friend in userProfile.Friends)
                            {
                                if (friend.UserId == profile.UserId)
                                {
                                    areFriends = true;
                                    break;
                                }
                            }

                            if (areFriends)
                            {
                                <p>Already friends</p>
                            }
                            else
                            {
                                <a class="btn btn-success"href="../FriendRequest/Create?userProfileId=@profile.GeniusUserProfileId">Send friend request</a>
                            }
                        }
                    }
                </div>
            }
            </div>
            
        }
    </div>
}