@using GeniusWebApp.Models
@model UserPost
@{
    ViewBag.Title = "Edit";
    ApplicationDbContext _db = new ApplicationDbContext();
    UserPost post = _db.UserPosts.Find(ViewBag.Id);

    var userProfileId = TempData["UserProfileId"];
    var groupId = TempData["GroupId"];

    TempData.Clear();

    TempData["UserProfileId"] = userProfileId;
    TempData["GroupId"] = groupId;
}

<form style="padding-top: 10px" method="post" action="/UserPost/Edit/@ViewBag.Id">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <div class="form-group">
        <label>Title:</label>
        <input name="Title" value="@post.Title" />
        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
        <br />
    </div>
    <div class="form-group">
        <label>Content:</label>
        <input name="Content" value="@post.Content" />
        @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
        <br />
    </div>
    <button type="submit">Submit</button>
</form>
