@using GeniusWebApp.Models;
@{
    List<FriendRequest> friendRequests = ViewBag.FriendRequests;
    List<Tuple<FriendRequest, UserProfile>> friendRequestUserProfiles = new List<Tuple<FriendRequest,UserProfile>>();
    List<UserProfile> friends = new List<UserProfile>();
    if(ViewBag.friendRequestsUserProfiles != null)
    {
        friendRequestUserProfiles = ViewBag.friendRequestsUserProfiles;
    }
    if (ViewBag.friends != null)
    {
        friends = ViewBag.friends;
    }
}
<div class="mainPageContainer" > <!-- div mare -->
    <div class="groupContainer"> <!-- div groups -->

        @if (Model.Count != 0)
        {
            <h1>
                Your groups:
            </h1>
            <div class="groups">
                @foreach (GeniusWebApp.Models.Group group in Model)
                {
                    <div class="group">
                        <a href="/Group/Show/@group.GroupId">
                            <div>
                                <h2>@group.Name</h2>
                                <p>@group.Description</p>
                            </div>
                        </a>
                    </div>
                }
            </div>
        }
     
        <div style="text-align: center">
            <a class="btn btn-primary" href="/Home/NewGroup">Add a group</a>
        </div>

        <br />

        @*<h1>
            Toate grupurile
        </h1>
        <ul class="list-group">
        </ul>*@
    </div>

    <div class="friendContainer"> <!-- div friends -->
        
        @if (friends.Count != 0)
        {
            <h1>Friends:</h1>
        <div class="friends">
            @foreach (UserProfile friend in friends)
            {
            <div class="friend">
                <a href="/UserProfile/Show/@friend.GeniusUserProfileId"><h3>@friend.FirstName @friend.LastName</h3></a>
            </div>
            }
        </div>
        }

        
        @if (ViewBag.friendRequests.Count != 0)
        {
            <h1> Friend requests</h1>
            <div class="friends">
                @foreach (Tuple<FriendRequest, UserProfile> fr in friendRequestUserProfiles)
                {
                    <div class="friend" style="display:flex; justify-content: space-between">
                        <h3>@fr.Item2.FirstName @fr.Item2.LastName</h3>

                        <div >
                            <a class="btn btn-primary btn-special" href="/FriendRequest/Accept?frId=@fr.Item1.Id&upId=@fr.Item2.GeniusUserProfileId">Accept</a>
                            <a class="btn btn-danger btn-special" href="/FriendRequest/Delete?frId=@fr.Item1.Id&upId=@fr.Item2.GeniusUserProfileId">Decline</a>
                        </div>
                    </div>
                }
            </div>

        }
    </div>
</div>

