@model GeniusWebApp.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    GeniusWebApp.Models.UserProfile UserProfile = ViewBag.UserProfile;
    ViewBag.TextBoxVisible = "hidden";
    TempData.Add("ProfileImage", "");
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.

             See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.

             Uncomment the following block after you have set up two-factor authentication
        *@
        @*
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>
        *@
        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>
            @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }*@
        </dd>
    </dl>
</div>


<h2>
    Profilul tău
</h2>
<div class="container" style="padding-left: 20px">
    <h3>Poză de profil</h3>
    @if (UserProfile.ProfileImage == "")
    {
        <img src="@UserProfile.ProfileImage" class="img-circle" width="200" />

    }
    else
    {
        <img src="https://secondchancetinyhomes.org/wp-content/uploads/2016/09/empty-profile.png" class="img-circle" width="200" />
    }
    <br />
    <br />
    @Html.BeginForm("UpdateProfileImage", "UserProfile")
    @*<div style="visibility:@ViewBag.TextBoxVisible">

    </div>*@
    @*<button onclick="@(ViewBag.TextBoxVisible="visible")">Schimba poza de profil</button>*@
    @Html.TextBox("ProfileImage",TempData["ProfileImage"])
    @Html.ActionLink("Introdu", "../UserProfile/UpdateProfileImage", TempData["ProfileImage"].ToString()); 
    <h3>
        @UserProfile.FirstName  @UserProfile.LastName
    </h3>
</div>


