@model GeniusWebApp.Models.IndexViewModel
@using Microsoft.AspNet.Identity.Owin;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage";
    GeniusWebApp.Models.UserProfile UserProfile = ViewBag.UserProfile;
    ViewBag.TextBoxVisible = "hidden";
    TempData.Clear();
    TempData.Add("ProfileImage", "");

    ViewBag.currentUserId = User.Identity.GetUserId();
}

<script src="~/Scripts/CheckBoxes.js" , type="text/javascript"></script>

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.

             See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.

             Uncomment the following block after you have set up two-factor authentication
        *@
        @*
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>
        *@
        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>
            @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }*@
        </dd>

        <dt>Visibility:</dt>
        <dd>
            <form method="post" action="/Manage/ChangeVisibility">
                @if (UserProfile.Visibility == "private")
                {
                    <input type="checkbox" name="Visibility" checked value="true" />
                    <label>Private</label>
                    <input type="checkbox" name="Visibility" />
                    <label>Public</label>
                }
                else
                {
                    <input type="checkbox" name="Visibility" value="true" />
                    <label>Private</label>
                    <input type="checkbox" name="Visibility" checked />
                    <label>Public</label>
                }
                <button type="submit">Save</button>
            </form>
        </dd>
    </dl>
</div>


<h2>
    Your profile
</h2>
<div class="container" style="padding-left: 20px">
    <h3>Poză de profil</h3>
    @if (UserProfile.ProfileImage != "" && UserProfile.ProfileImage != null)
    {

        <img src="@UserProfile.ProfileImage" class="img-circle" width="200" />

    }
    else
    {
        <img src="https://secondchancetinyhomes.org/wp-content/uploads/2016/09/empty-profile.png" class="img-circle" width="200" />
    }
    <br />
    <br />
    @using (Html.BeginForm("UpdateProfileImage", "UserProfile"))
    {
        @*<div style="visibility:@ViewBag.TextBoxVisible">

            </div>*@
        @*<button onclick="@(ViewBag.TextBoxVisible="visible")">Schimba poza de profil</button>*@
        @Html.TextBox("ProfileImage", TempData["ProfileImage"])
        <form method="post" action="/UserPost/UpdateProfileImage/@TempData["ProfileImage"]">
            <button>Update</button>
        </form>
    }
    <h3>
        @UserProfile.FirstName  @UserProfile.LastName
    </h3>



</div>


    <div class="panel-heading"></div>
    <div class="panel-body"></div>
    <div class="panel-footer"></div>
@foreach (var post in ViewBag.userPosts)
{
    <div class="panel panel-default">
        <p>@post.FirstName</p>
        <p>@post.LastName</p>

        <p>@post.Title</p>
        <p>@post.Content</p>

        @if (ViewBag.isAdmin || ViewBag.isValidUser)
        {
            <a href="/UserPost/Edit/@post.Id">Edit</a>

            <form method="post" action="/UserPost/Delete/@post.Id">
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button type="submit">Delete</button>
            </form>
        }

        <p>Comments:</p>

        @foreach (var comment in post.Comments)
        {
            <p>@comment.LastName</p>
            <p>@comment.FirstName</p>
            <p>@comment.Text</p>

            if (ViewBag.currentUserId == comment.UserId || ViewBag.isAdmin)
            {
                <a href="/Comment/Edit/@comment.Id">Edit</a>

                <form method="post" action="/Comment/Delete/@comment.Id">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button type="submit">Delete</button>
                </form>
            }

        }

        <a href="/Comment/New/@post.Id">New comment</a>
    </div>
}

@if (ViewBag.isValidUser || ViewBag.isAdmin)
{
    <a href="/UserPost/New" class="btn btn-primary">New Post</a>
}