@model GeniusWebApp.Models.IndexViewModel
@using Microsoft.AspNet.Identity.Owin;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Settings";
    GeniusWebApp.Models.UserProfile UserProfile = ViewBag.UserProfile;
    ViewBag.TextBoxVisible = "hidden";
    TempData.Clear();
    TempData.Add("ProfileImage", "");

    ViewBag.currentUserId = User.Identity.GetUserId();
}

<script src="~/Scripts/CheckBoxes.js" , type="text/javascript"></script>

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>

        <dt>Visibility:</dt>
        <dd>
            <form method="post" action="/Manage/ChangeVisibility">
                @if (UserProfile.Visibility == "private")
                {
                    <input type="checkbox" name="Visibility" checked value="true" />
                    <label>Private</label>
                    <input type="checkbox" name="Visibility" />
                    <label>Public</label>
                }
                else
                {
                    <input type="checkbox" name="Visibility" value="true" />
                    <label>Private</label>
                    <input type="checkbox" name="Visibility" checked />
                    <label>Public</label>
                }
                <button class="glyphicon glyphicon-floppy-save" type="submit"></button>
            </form>
        </dd>
    </dl>
</div>


<h2>
    Your profile
</h2>
<div class="container">
    <h3>Profile image</h3>
    @if (UserProfile.ProfileImage != "" && UserProfile.ProfileImage != null)
    {

        <img src="@UserProfile.ProfileImage" class="img-circle" width="200" />

    }
    else
    {
        <img src="https://secondchancetinyhomes.org/wp-content/uploads/2016/09/empty-profile.png" class="img-circle" width="200" />
    }
    <br />
    <br />
    @using (Html.BeginForm("UpdateProfileImage", "UserProfile"))
    {
        @*<div style="visibility:@ViewBag.TextBoxVisible">

            </div>*@
        @*<button onclick="@(ViewBag.TextBoxVisible="visible")">Schimba poza de profil</button>*@
        @Html.TextBox("ProfileImage", TempData["ProfileImage"])
        <form method="post" action="/UserPost/UpdateProfileImage/@TempData["ProfileImage"]">
            <button>Update</button>
        </form>
    }
    <h3>
        @UserProfile.FirstName  @UserProfile.LastName
    </h3>



</div>


    
    
    
@foreach (var post in ViewBag.userPosts)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="buttons">
                <h3>@post.Title</h3>
                @if (ViewBag.isAdmin || ViewBag.isValidUser)
                {
                    <div style="float:right">
                        <a class="btn btn-primary" href="/UserPost/Edit/@post.Id">Edit</a>

                        <form method="post" action="/UserPost/Delete/@post.Id">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </div>
                }
            </div>
            <p>@post.FirstName @post.LastName</p>
            
        </div>

        <div class="panel-body">
            <p>@post.Content</p>
        </div>

        <div class="panel-footer">

            <p>Comments:</p>


            @foreach (var comment in post.Comments)
            {
                <div class="panel panel-default">
                    <div class="panel-heading buttons">
                        <p>@comment.LastName @comment.FirstName</p>
                        @if (ViewBag.currentUserId == comment.UserId || ViewBag.isAdmin)
                        {
                            <div style="float:right">
                                <a class="glyphicon glyphicon-edit" href="/Comment/Edit/@comment.Id"></a>

                                <form method="post" action="/Comment/Delete/@comment.Id">
                                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                                    <button class="glyphicon glyphicon-trash" type="submit"></button>
                                </form>
                            </div>
                        }
                    </div>

                    <div class="panel-body">
                        <p>@comment.Text</p>
                        
                    </div>
                </div>
            }

            <a class="btn btn-primary" style="background-color:aqua; color:purple" href="/Comment/New/@post.Id">New comment</a>
        </div>
    </div>
}

@if (ViewBag.isValidUser || ViewBag.isAdmin)
{
    <a href="/UserPost/New" class="btn btn-primary">New Post</a>
}